*{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

header{
    height: 10%;
    text-align: center;
    color: #fff;
    background-color:rgb(0, 26, 112);
    font-size: 20px;
}
section{
    height: 80%;
}
footer{
    height:10%;
    background-color:rgb(0, 26, 112);
}


/**Reloj**/
.reloj-completo {
    background-color: rgb(0, 26, 112);
    width:100%;
    text-align:center;
}
#reloj{
    background-color:rgb(0, 26, 112);
    font-family: sans-serif;
    font-size:30px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#reloj span {
    color:#888;
    text-shadow:0px 0px 1px rgb(0, 26, 112);
    font-size:20px;
    position:relative;
}
.cuadrado {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.obj {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: red;
  text-align: center;
  cursor: pointer;
}